<div class="container" ng-controller="cartController as cartCtrl">
    <div class="check">
        <h1>My Shopping Bag ({{cartCtrl.items.length}})</h1>
        <div class="col-md-9 cart-items">
            <div ng-repeat="item in cartCtrl.items">
                <div class="cart-header" ng-if="item.quantity > 0" >
                    <div class="close1" ng-click="cartCtrl.removeItem(item)"> </div>
                    <div class="cart-sec simpleCart_shelfItem">
                        <div class="cart-item cyc">
                            <img src={{item.image}} class="img-responsive" alt=""/>
                        </div>
                        <div class="cart-item-info">
                            <h3><a href="#">{{item.itemName}}</a></h3>
                            <ul class="qty">
                                <li><p>Size : {{item.size}}</p></li>
                                <li><p>Color : {{item.color}}</p></li>
                                <li><p>price per 1 : {{item.price}}</p></li>
                                <li><p>Qty : {{item.quantity}}</p></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 cart-total">
            <div class="price-details">
                <h3>Price Details</h3>
                <span>Total</span>
                <span class="total1">{{cartCtrl.total}}</span>
                <span>Discount</span>
                <span class="total1">---</span>
                <span>Delivery Charges</span>
                <span class="total1">50.00</span>
                <div class="clearfix"></div>
            </div>
            <ul class="total_price">
                <li class="last_price"> <h4>TOTAL</h4></li>
                <li class="last_price"><span>${{cartCtrl.total + 50}}</span></li>
                <div class="clearfix"> </div>
            </ul>


            <div class="clearfix"></div>
            <a class="order" href="">Place Order</a>
        </div>

        <div class="clearfix"> </div>

    </div>
</div>