<div class="content">
    <div class="container">
        <div class="content-top">
            <div ng-controller="mainController as mainCtrl">
                <h1>TOP 5 ITEMS</h1>
                <div class="grid-in">
                    <div ng-repeat="pro in mainCtrl.top5" class="col-md-4 grid-top">
                        <a href="#/shop" class="b-link-stripe b-animate-go  thickbox">
                            <img class="img-responsive" src={{pro.image}} alt="">
                            <div class="b-wrapper">
                                <h3 class="b-animate b-from-left    b-delay03 ">
                                    <span>{{pro.category}}</span>
                                </h3>
                            </div>
                        </a>
                        <p><a href="#/shop">{{pro.itemName}}</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-controller="mainController as mainCtrl">
    <div class="content" ng-show="mainCtrl.user.isLoggedIn">
        <div class="container">
            <div class="content-top">
                <h1>NEW&HOT SWIMSUIT </h1>
                <div class="grid-in">
                    <div ng-repeat="item in mainCtrl.newProducts" class="col-md-4 grid-top">
                        <a href="#/shop" class="b-link-stripe b-animate-go  thickbox">
                            <img class="img-responsive" src={{item.image}} alt="">
                            <div class="b-wrapper">
                                <h3 class="b-animate b-from-left    b-delay03 ">
                                    <span>{{item.category}}</span>
                                </h3>
                            </div>
                        </a>
                        <p><a href="#/shop">{{item.itemName}}</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
