<div class="container">
<div class="login-container" ng-controller="loginController as loginCtrl">
    <div class="account">
        <h1>Account</h1>
    <div class="login-form">
        <div class="account-pass">
            <div class="col-md-8 account-top">
                <form name="loginForm" ng-submit="loginCtrl.login(loginForm.$valid)" novalidate>
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text"
                               ng-model="loginCtrl.user.userMail"
                               ng-required="true"
                               class="form-control"
                               name="usernameInput"
                               placeholder="Enter Username">
                        <p ng-show="loginForm.usernameInput.$invalid && !loginForm.usernameInput.$pristine" class="help-block">username is required</p>

                    </div>
                    <div class="form-group" ng-hide="loginCtrl.restorePassword">
                        <label>Password</label>
                        <input type="password"
                               ng-model="loginCtrl.user.password"
                               ng-required="true"
                               class="form-control"
                               name="passwordInput"
                               placeholder="Enter Password">
                        <p ng-show="(loginForm.passwordInput.$error.required || loginForm.passwordInput.$pristine)" class="help-block">Password is required</p>
                    </div>
                    <div class="form-group" ng-show="loginCtrl.restorePassword">
                        <label>{{loginCtrl.firstQuestion}}</label>
                        <input type="text"
                               ng-model="loginCtrl.firstAnswer"
                               class="form-control"
                               name="firstAnswer"
                               placeholder="Enter Your Answer">
                        <p ng-show="(loginForm.firstAnswer.$error.required || loginForm.firstAnswer.$pristine)" class="help-block">Answer is required</p>
                    </div>
                    <div class="form-group" ng-show="loginCtrl.restorePassword">
                        <label>{{loginCtrl.secondQuestion}}</label>
                        <input type="text"
                               ng-model="loginCtrl.secondAnswer"
                               class="form-control"
                               name="secondAnswer"
                               placeholder="Enter Your Answer">
                        <p ng-show="(loginForm.secondAnswer.$error.required || loginForm.secondAnswer.$pristine)" class="help-block">Answer is required</p>
                    </div>
                    <div class="form-group" ng-hide="loginCtrl.restorePassword">
                        <div class="col-md-4 amet-sed ">
                            <ul class="nav-bottom">
                                <li ng-click="loginCtrl.restore(loginForm.usernameInput.$valid)">
                                    <a><label>Restore Password</label></a></li>
                            </ul>
                        </div>
                    </div>
                    <input type="submit"
                           class="btn btn-success btn-lg"
                           value="Login"
                           ng-disabled="loginForm.$invalid" ng-hide="loginCtrl.restorePassword">
                    <input type="button" ng-click="loginCtrl.getPassword()"
                           class="btn btn-success btn-lg"
                           value="Restor Password"
                           ng-disabled="loginForm.usernameInput.$invalid || loginForm.firstAnswer.$invalid || loginForm.secondAnswer.$invalid"
                           ng-show="loginCtrl.restorePassword">
                    <div class="form-group" ng-show="loginCtrl.userPassword">
                        <div class="col-md-4 amet-sed ">
                            <ul class="nav-bottom">
                                <li><label>Your password is: {{loginCtrl.userPassword}}</label></li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <label style="color: #d43f3a">
                            {{loginCtrl.errorMessage}}</label>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
</div>
</div>
